.app {
  background-color: #1e2747;
  margin: 10px;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  text-align: center;
  color: #fff;
}